* {
  background-color: beige;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Beginner {
  border: 3px dotted black;
  margin: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

/* Question 1 */

.question1 {
  margin-top: 1rem;
  background-color: burlywood;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card-grid1 {
  min-height: 20vh;
  background-color: red;
}
hr {
  margin-top: 1rem;
  border: 2px solid black;
}

/* Question 2 */

.question2 {
  margin-top: 2rem;
  background-color: aqua;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card-grid2 {
  min-height: 20vh;
  background-color: palevioletred;
}

@media (max-width: 768px) {
  .question2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Question 3 */

.question3 {
  margin-top: 2rem;
  background-color: brown;
  padding: 1rem;
}
.card-grid3 {
  min-height: 100vh;
  padding: 1rem;
  background-color: darkgray;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "hr hr hr hr hr"
    "sb cnt cnt cnt cnt"
    "sb cnt cnt cnt cnt"
    "fr fr fr fr fr";
}
.card-grid3 #Header {
  grid-area: hr;
}
.card-grid3 #Sidebar {
  grid-area: sb;
}
.card-grid3 #Content {
  grid-area: cnt;
}
.card-grid3 #Footer {
  grid-area: fr;
}

/* Intermediate */

.Intermediate {
  border: 3px dotted black;
  margin: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

/* Question4 */

.question4 {
  margin-top: 2rem;
  background-color: darkkhaki;
  padding: 1rem;
}
.card-grid4 {
  min-height: 20vh;
  background-color: pink;
}

/* Question5 */

.question5 {
  margin-top: 2rem;
  background-color: darkorange;
  padding: 1rem;
}
.card-grid5 {
  min-height: 20vh;
  background-color: lightblue;
}

/* Question6 */

.question6 {
  margin-top: 2rem;
  background-color: lightgreen;
  padding: 1rem;
}
.card-grid6 {
  min-height: 20vh;
  background-color: darkgreen;
}

/* Advance Section */

.Advance {
  border: 3px dotted black;
  margin: 1rem;
  padding: 1rem;
  min-height: 100vh;
}

/* Question 7 */

.question7 {
  margin-top: 2rem;
  background-color: lightgreen;
  padding: 1rem;
}
.card-grid7 {
  min-height: 20vh;
  background-color: darkgreen;
}

/* Question 8 */

.question8 {
  margin-top: 2rem;
  background-color: darkgray;
  padding: 1rem;
}
.card-grid8 {
  min-height: 20vh;
  background-color: beige;
}
